section.slide {
    .slider-container {
        .slider-controls {
            li {
                width: 15px;
                height: 15px;
                @media (min-width: 1471px) and (max-width: 1471px) and (min-height: 2200px) and (max-height: 2200px) {
                    height: 30px;
                    width: 90px;
                }
            }
        }
    }
}