section.slide {
    .slider-container {
        .drt-control {
            padding: 15px;
            @media (min-width: 1080px) and (max-width: 1080px) and (min-height: 1793px) and (max-height: 1793px) {
                padding: 30px;
            }
        }
        .slider-controls {
            padding-bottom: 40px;
            li {
                width: 15px;
                height: 15px;
                @media (min-width: 1080px) and (max-width: 1080px) and (min-height: 1793px) and (max-height: 1793px) {
                    height: 40px;
                    width: 70px;
                }
            }
        }
    }
}